body{
    background-color:rgb(70, 145, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
div{
    padding: 2rem 5rem 2em 3em ;
    background-color:white;
    width:70%;
    border:solid rgb(30, 170, 216) 2px;
    border-radius: 1rem;
}
h1{
    margin-top: 1rem;
    border:solid rgb(30, 170, 216) 2px;
    border-radius: 1rem;
    color: rgb(30, 170, 216);
    text-align: center;
    padding: 2rem;
    background-color:white;
    width:70%;
    
}
h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}
dt{
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 33px;
}
dd{
    font-size: 1rem;
    margin-left: 50px;
    border-bottom:solid rgb(30, 170, 216) 5px;
}